* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #e6e6e6;
  --font-large: 64px;
  --font-medium: 24px;
  --font-regular: 14px;
}

html {
  background-color: var(--background);
  font-size: 12px !important;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #555555;
}
.mp_nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 2%;
  padding-right: 2%;
  right: 0;
  height: 60px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.mp_nav_101 {
  width: 200px;
  height: 100%;
}
.mp_nav_101 img {
  width: auto;
  height: 100%;
}
.mp_nav_1 {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
}
.mp_logo {
  font-family: "Clash Display", sans-serif;
  color: white;
  font-weight: 500;
}

.mp_nav_2 {
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-start;
  width: 50%;
  font-family: "Manrope", sans-serif;
}

.mp_nav_2 span {
  margin-left: 5rem;
  font-weight: 500;
  cursor: pointer;
}
.mp_nav_2 span:hover {
  color: #e6e6e6;
}

.mp_intro {
  width: 100%;
  height: 80vh;
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.mp_sec {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.mp_fourth {
  height: 100vh;
}

.mp_intro_1 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}
.mp_intro_101 h1 {
  font-family: "Clash Display", sans-serif;
  font-size: var(--font-large);
  margin-bottom: 30px;
  color: black;
  font-weight: 600;
}
.mp_intro_102 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.mp_intro_102 img {
  width: 160px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}
.mp_intro_2 {
  height: 100%;
  position: relative;
  width: 40%;
}

.mp_sec_1 {
  height: 100%;
  position: relative;
  width: 40%;
}

.mp_sec_1 img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 10%;
  right: 0;
  transform: rotate(15deg);
}

.x10 img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: rotate(0deg);
}

.mp_intro_2 img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -45%;
  right: 0;
  transform: rotate(-20deg);
}

.x09 h1 {
  display: flex;
}

.x09 h1 img {
  min-width: 100px;
  height: 100px !important;
}

.line {
  width: 100%;
  height: 25px;
  background-color: black;
}
.mp_third {
  height: 50vh;
  display: flex;
  width: 100%;
}
.mp_third_1 {
  height: 100%;
  width: 40%;
  background-color: #edf200;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
}
.mp_third_1 h1 {
  font-size: 200px;
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
}

.mp_third_2 {
  width: 60%;
  height: 100%;
  background-color: #98f500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
}
.mp_third_2 h1 {
  font-size: var(--font-large);
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
}

.mp_fifth {
  width: 100%;
  height: fit-content;
  padding: 2.5%;
  background-image: url("../resource/purseboom.svg") !important;
}

.mp_fifth_1 {
  width: 100%;
  background-color: #fff;
  height: 100%;
}

.mp_fifth_101 {
  padding: 5%;
}
.big_text {
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: var(--font-large);
  font-weight: 600;
}
.big_text_lean {
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: var(--font-large);
  font-weight: 500;
}
.mp_fifth_2 {
  width: 100%;
  height: max-content;
  margin-bottom: -0.1rem;
  box-shadow: 0px -4px 25px 4px rgba(188, 188, 188, 0.25);
}
.purseafro {
  width: 100%;
  height: auto;
  display: none;
}
.purse_split {
  display: flex;
  height: 100%;
  padding: 5%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.purse_split div {
  width: 50%;
}

.purse_split img {
  max-width: 50%;
  height: auto;
}
.pursequadflix {
  position: fixed;
  left: 0;
  width: 100%;
  min-height: 100vh;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  margin: auto;
  z-index: 999;
}
.mp_sixth {
  width: 100%;
  min-height: min-content;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.mp_sixth_1 {
  width: 40%;
}

.mp_sixth_1 > h1 {
  text-align: center;
}
.mp_sixth img:nth-child(1) {
  position: absolute;
  width: 300px;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: auto;
}
.mp_sixth img:nth-child(2) {
  display: none;
}

.mp_sixth_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mp_sixth_2 h1 {
  font-family: "Clash Display", sans-serif;
  font-size: var(--font-medium);
  font-weight: 600;
  color: black;
}

.mp_sixth_2 p {
  margin-bottom: 10px;
}
.mp_seventh {
  width: 100%;
  height: fit-content;
  min-height: 120vh;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
}
.mp_seventh_1 {
  width: 50%;
}

.mp_seventh_1 h1 {
  text-align: center;
  margin-top: 5rem;
}

.cascade {
  position: absolute;
  width: 500px;
  height: auto;
  bottom: 0;
}

.pursefeed {
  width: 100%;
  min-height: fit-content;

  position: relative;
  padding: 5%;
  background-color: #fff;
}

.pursefeed_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.medium_text {
  font-family: "Clash Display", sans-serif;
  font-size: var(--font-medium);
  font-weight: 600;
  color: black;
}
.pursefeed_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pursefeed_2 img {
  width: 50%;
  height: auto;
  padding: 10px;
}
footer {
  width: 100%;
  height: fit-content;
  position: relative;
  min-height: 100vh;
  padding: 2.5%;
  background-image: url("../resource/purseboomfooter.svg") !important;
}
.mp_bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 2%;
  padding-right: 2%;
  right: 0;
  height: 60px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.mp_small {
  font-size: 11px !important;
}
.footer_content {
  width: 100%;
  padding: 5rem;
  background-color: white;
  height: 100vh;
}
.footer_content_split {
  display: flex;
  justify-content: space-between;
}
.footer_content_split_2 {
  display: flex;
  justify-content: space-between;
}
.footer_content_split > div {
  width: 50%;
}
.footer_content_split_2 > div {
  width: 50%;
  text-align: right;
}

.footer_content_split_2 p {
  margin-bottom: 10px;
}
.dis {
  margin-top: 20rem;
  width: 50%;
}
.min-set {
  min-width: 500px !important;
}
@media screen and (max-width: 1250px) {
  html {
    background-color: var(--background);
    font-size: 10px !important;
  }

  .mp_nav_1 {
    min-width: 400px !important;
  }
  :root {
    --font-large: 48px;
  }
  .mp_third_1 h1 {
    font-size: 150px;
    font-family: "Clash Display", sans-serif;
    font-weight: 400;
  }
}
@media screen and (max-width: 900px) {
  .mp_third_1 {
    padding: 5rem !important;
  }
  .mp_third_2 {
    padding: 5rem !important;
  }
  .mp_intro_2 {
    background-color: rgba(255, 255, 255, 0.09);
    z-index: -1;
    backdrop-filter: blur(20px);
    right: -2.5% !important;
    top: 0% !important;
    position: absolute;
  }
  .mp_nav_1 {
    min-width: 230px !important;
    justify-content: space-between;
  }
  .mp_nav,
  .mp_bottom {
    height: 40px;
  }
  .mp_nav_101 {
    width: 100px;
  }
  .mp_intro_2 img {
    width: 300px;
    height: auto !important;
    position: absolute;
    bottom: 0% !important;
    right: 0% !important;
    top: -20% !important;
    transform: rotate(20deg);
  }
  .mp_intro_102 img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
  }
  .mp_third_1 h1 {
    font-size: 100px;
    font-family: "Clash Display", sans-serif;
    font-weight: 400;
  }
  .mp_intro {
    height: unset !important;
  }
  .x09 h1 img {
    min-width: 60px;
    height: 60px !important;
  }
  .mp_sec {
    flex-direction: column-reverse;
  }
  .mp_intro_1 {
    width: 100% !important;
  }
  .mp_sec_1 {
    width: 100%;
  }
  .mp_intro_1 {
    height: fit-content !important;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
  }

  .mp_sec_1 img {
    width: 90%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0;
    transform: rotate(0deg);
  }
  .pursequadflix {
    display: none !important;
  }
}
.faustspromise {
  width: 300px;
  position: fixed;
  top: 10%;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffffff;
  display: none;
  animation: drop 0.5s ease-in-out;
  box-shadow: 1px 2px 17.6px 3px rgba(193, 193, 193, 0.25);
}

@keyframes drop {
  0%{
    top: 0;
  }
  100%{
    top:10%;
  }
}
@media screen and (max-width: 680px) {
  .mp_intro_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem !important;
  }
  .mp_intro_2 {
    display: none;
  }
  .mp_bottom .mp_nav_1 {
    display: none !important;
  }
  .mp_small {
    font-size: 6px !important;
  }
  .min-set {
    min-width: 100% !important;
  }
  .purse_split {
    display: flex;
    height: 100%;
    padding: 5%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .purse_split div {
    width: 100%;
  }

  .purse_split img {
    max-width: 50%;
    margin-top: 2rem;
    height: auto;
  }
  .mp_sixth_1 {
    width: 80%;
  }
  .mp_sixth img:nth-child(1) {
    position: absolute;
    width: 300px;
    left: -50%;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
    height: auto;
  }
  .mp_sixth img:nth-child(2) {
    position: absolute;
    width: 150px;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: auto;
    display: block;
  }
  .mp_sixth {
    width: 100%;
    min-height: min-content;
    height: auto;
    padding: 0% !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  .mp_sixth_1 > h1 {
    text-align: left;
    margin-top: 5rem;
  }
  .mp_sixth_2 {
    display: block;
  }
  .mp_seventh_1 {
    padding: 5%;
    width: 100%;
  }
  .cascade {
    width: 90% !important;
    position: relative;
    bottom: 0;
  }
  .mp_seventh {
    min-height: auto !important;
    height: 100% !important;
  }
  .mp_seventh {
    display: block;
  }
  .insane {
    flex-direction: column-reverse;
  }
  .purseafro {
    display: none;
  }
  .purseafro_exm {
    display: block;
  }
  .boom_line {
    display: block;
  }
  .s45 {
    margin-bottom: 3rem;
  }
  .mp_fifth_2 {
    width: 100%;
    height: max-content;
    margin-bottom: -0.1rem;
    box-shadow: 0px -4px 25px 4px rgba(188, 188, 188, 0.25);
  }

  .pursefeed_2 {
    flex-direction: column;
  }
  .pursefeed_2 img {
    width: 100%;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  .pursefeed {
    padding: 1% !important;
  }
  .pursefeed_1 h3 {
    display: none;
  }
  footer {
    padding: 1.5% !important;
    padding-top: 2% !important;
  }
  .faustspromise {
    top:6%;
  }
  @keyframes drop {
    0%{
      top: 0;
    }
    100%{
      top:6%;
    }
  }
}

.pursefeed_1 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 760px) {
  .footer_content_split {
    display: block;
  }
  .footer_content_split_2 {
    margin-top: 4rem;
    display: block !important;
    width: 100% !important;
  }
  .footer_content_split_2 > div {
    width: 100% !important;
    text-align: left;
  }
  .footer_content_split > div {
    width: 100% !important;
    text-align: left;
  }
  .footer_content {
    min-height: min-content !important;
    padding: 2rem !important;
    height: fit-content;
  }
  .dis {
    width: 100% !important;
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  .mp_fifth {
    padding: 0% !important;
  }
  .x32 {
    margin-top: 3rem;
  }
  .pursefeed {
    padding-bottom: 2rem !important;
  }
  .mp_nav_2 {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --font-large: 35px;
  }
  .mp_third {
    flex-direction: column;
    height: 400px;
  }
  .mp_third_1 {
    width: 100%;
    height: 50%;
  }
  .mp_third_2 {
    width: 100%;
    height: 50%;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --font-large: 28px;
    --font-medium: 18px;
    --font-regular: 11px;
  }
}
.btn {
  background-color: rgba(255, 255, 255, 0.3);
  width: max-content;
  padding: 5px;
  padding-left: 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 30px;
  padding-right: 10px;
}
a {
  color: unset;
}

