*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --background: #E6E6E6;
    --font-large: 64px;
    --font-medium: 24px;
    --font-regular: 14px;

}

html{
    background-color: var(--background);
}